{% extends "layout.html" %}

{% block title %}Percentiles{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/percentiles-chart.css') | autoversion}}">
{% endblock %}

{% block content %}
<h1>Lichess rating distribution percentiles chart</h1>
<select id="perf-type">
  {% for perf_type in perf_types %}
  <option value="{{perf_type}}"
    {% if perf_type == 'blitz' %}selected='true'{% endif %}>
    {{perf_type | snake_to_title}}
  </option>
  {% endfor %}
</select>
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename='js/percentiles-chart.js') | autoversion }}"></script>
<script>
  let perf_type = d3.select('#perf-type').property('value')
  let container = d3.select("div.container")
  let apiUrl = '/api/percentiles/'
  d3.json(apiUrl + perf_type).then((dataset) => {
    percentilesChart.initialize(dataset, container)
  });

  d3.select('#perf-type')
  .on('change', function() {
    let perf_type = d3.select(this).property('value')
    d3.json(apiUrl + perf_type).then((dataset) => {
      percentilesChart.update(dataset);
    });
  });

</script>
{% endblock %}
